<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Exam</servlet-name>
        <servlet-class>Package.Exam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exam1</servlet-name>
        <servlet-class>Package.Exam1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Java</servlet-name>
        <servlet-class>Package.Java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Net</servlet-name>
        <servlet-class>Package.Net</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exam</servlet-name>
        <url-pattern>/Exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exam1</servlet-name>
        <url-pattern>/Exam1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Java</servlet-name>
        <url-pattern>/Java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Net</servlet-name>
        <url-pattern>/Net</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
